---
// component import
import MainHead from "./MainHead.astro";


const { title = "My astro Blog", description = "My coolest blog" } = Astro.props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <slot> Hola paco</slot>
  </body>
</html>
